/*
 * MarketShop OpenCart Theme RTL CSS
 * By Harnish Design
 * www.harnishdesign.net
 */
 
/*Header*/
#header #cart{text-align:left;}
#header #cart .dropdown-menu{right:auto; left:0;}
#header #cart .heading h4{float:right; margin-left: 5px;}
#header #cart .checkout, .mini-cart-total{text-align:left;}

#header .button-search{left:0; right:auto;}
#header #search input{padding:0 10px 0 36px;}

#header.style2 #cart{text-align:right;}
#header.style2 #cart .dropdown-menu{right:0; left:auto;}
#header.style3 #cart{text-align:left;}

#header .links{float:right;}
#header #welcome{float:left;}
#header #welcome a{border-right:none; border-left:1px dotted #5B9AD4;}
.wrapper-box #header #welcome{border-right:1px dotted #7B97B2;}

#language, #currency{float:right; border-left:1px dotted #5B9AD4; border-right:none;}
#language ul, #currency ul{right:0; left:auto;}
#top .dropdown-menu li a, #currency ul li .currency-select{text-align:right;}
#language img{margin-right:0px; margin-left:5px;}

#menu .nav > li.categories > div > .column > div{left:auto; right:100%;}
#menu .nav > li.categories_hor > div > .column a span, #menu .nav > li.categories > div > .column a span, #menu .nav > li > div > ul li a span, #menu .nav > li.custom-link-right{float:left}
#menu .nav > li.categories_hor > div .submenu, .submenu{right:100%;}

#container{text-align:right;}

.box-category .down{right:auto; left:0;}
.box-category > ul > li ul{padding-left:0px; padding-right: 10px;}
.box-category > ul > li ul li a{margin-left: 16px; margin-right:0;}
.box-category ul li a, .list-item li a{padding:5px 12px 5px 0; background:url("../image/bullet-dark-rtl.png") no-repeat right 11px;}
.box-category > ul > li ul li a:hover, .list-item a:hover{margin-left: 16px; margin-right:0;}

#column-right .owl-carousel .product-thumb .image, #column-left .owl-carousel .product-thumb .image{float:right; margin-right:0px; margin-left: 10px; }
#column-right .owl-carousel .product-thumb .caption, #column-left .owl-carousel .product-thumb .caption{text-align:right; float:right;}


.product-list .image{float:right; margin-left: 20px; margin-right:0px;}
.product-list .product-thumb .button-group .btn-primary, .product-list .product-thumb .button-group .add-to-links{float:right;}
.product-list .product-thumb .button-group .btn-primary{margin-right:auto; margin-left:5px;}
#list-view, #grid-view{margin-right:auto; margin-left:10px;}

.product-info .cart div .qty{float: right; margin-left:20px; margin-right:0;}
.qty .control-label{margin-left: 10px; margin-right:0px; float:right;}
.product-info .cart div{float:right;}
.product-info .cart div .wishlist{margin-left:auto; margin-right:15px;}
.nav-tabs > li > a{border-radius:0px; margin-right:auto; margin-left:-2px;}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn{border-radius:0px!important;}

.sitemap li ul{margin-left:auto; margin-right:30px;}

#tab-description ul{margin-left:auto; margin-right:15px;}
.product-info .image-additional a{float:right; margin-right:7px; margin-left:0px;}
.category-list ul{float:right; margin-left: 12px; margin-right:0px;}
.product-tab .tabs li{float:right; margin-right:0px;}
.manufacturer-list ul{float:right;}

/*Footer*/
#footer .contact > ul > li > .fa{margin-right:0px; margin-left:10px;}
#footer .social a{float:right;}

.text-left{text-align:right;}
.text-right{text-align:left;}

.category-module .tabs{left:70px; right:auto;}
.category-module .tabs li{float:right;}
.flex-viewport{direction:ltr;}
.flex-direction-nav .flex-next {left:0px; right:auto; background-position:-1px -32px;}
.flex-direction-nav .flex-prev {left:32px; right:auto; background-position:0 0;}
 
.owl-carousel .owl-wrapper-outer{direction:ltr}
.owl-theme .owl-controls .owl-buttons div.owl-prev{right:auto; left:0px;}
.owl-theme .owl-controls .owl-buttons div.owl-next{right:auto; left:32px;}