
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.pav-header  { position:relative  }
.pav-header .rss-wrapper{
	width:30px;	height:30px;	display:block; position:absolute;right:0; top:0;
	overflow:hidden; text-indent:-999em;
}
div[class*="pavcol"] {
    float: left;
}
.content-blog {
}
.blog-meta {
		overflow: hidden;
    margin: 10px 0;
	}
	.blog-meta > span  {    
   display: block;
    float: left;
    font-size: 90%;
    font-style: italic;
    font-weight: bold;
    padding: 0 10px 5px;
	 }
    .blog-meta > span:first-child {
      padding-left: 0;
    }
	.blog-meta > span:last-child{font-size:90% }
	.blog-meta > span  span{ font-weight:normal }
	
.blog-header .created {
}

.blog-header  span.day{ }
.blog-header  span{  }
.blog-item .description{
}
.blog-item .readmore{
  color: #f96644;
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 25px;
  line-height: 25px;
  padding: 0;
  font-size: 13px;
  margin:0;
  font-style: italic;
}
.blog-item .readmore:hover {
  color: #1bbc9b;
}
/**
 * Category Page
 */
 .pavblog-latest .pavblock{
  float: none;
  width: 100%;
  margin-bottom:18px;
  background: #fff;
  padding-left: 0;
 }
 .pav-blog .image {
 	text-align: center;
 }
 .pav-blogs .blog-item,
.pav-filter-blogs .blog-item{
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #d0d0d0;
  overflow: hidden;
 }
 .pav-filter-blogs .blog-item img {

 }
  .blog-item .image {
    float: left;
    margin-right: 18px;

  }
    .pavblog-latest .blog-item {

    }

.pavblog-latest .blog-item .blog-body { 
     position: relative; 
     overflow:  hidden;
     }

     .pavblog-latest .blog-item .group-blog {
      overflow: hidden;
      padding-right: 12px;

     }
 .pavblog-latest .blog-item:hover .group-blog {
    
}
  .pavblog-latest .blog-item .blog-title a {
    font-size: 15px;
    padding: 10px 0;
    display: inline-block;
    font-weight: 400;
  }
  .sidebar .pavblog-latest .blog-item .blog-title a {
    padding: 0;
  }
  .sidebar .pavblog-latest .blog-item .description{
    display: none;
  }
  .pavblog-latest .blog-item .blog-title a:hover {
    color: #1bbc9b;
  }
  .pavblog-latest .blog-item img:hover{}
 
 .pav-blogs .blog-item img {margin-right: 15px;float: left;}
 .pav-blogs a {
	text-decoration:none
 }
 /**
  * Blog Page
  */
  .pav-blog .description{ font-weight:bold;margin-top: 10px; }
	
  .pav-blog .blog-content, .pav-blog .blog-bottom { margin-bottom:20px; }
 .pav-comment,.pav-blog .blog-bottom { 
  	padding-top: 10px;}

.pav-blog .blog-bottom ul.list li:hover{
  background: none !important;
}
.pav-blog .blog-bottom ul.list li:hover a{
  color: #17977d;
}
   .comment-item {
		padding-bottom:10px;
   }
  .comment-item  img{
	padding-right:12px;
  }
  .comment-wrap{
	overflow:hidden;
	  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 20px;
    position: relative;
    transition: all 0.3s ease-out 0s;	
  }
  .comment-wrap .comment-meta{
	 border-bottom: 1px solid #E5E5E5;
    font-size: 11px;
    margin: -20px -20px 10px;
    padding: 10px 20px;
  }
  .comment-wrap .comment-meta > span { font-weight:bold; }
   .comment-wrap .comment-meta > span  span{ font-weight:normal; }
   .blog-social  .social-wrap > div { float:left; }
   .blog-social .social-heading{ padding-right:12px; }
   
   .comment-link{
	background: none repeat scroll 0 0 #F4F4F4;
    border-left: 1px solid #E5E5E5;
    display: block;
    float: right;
    font-weight: bold;
    margin: -11px -20px -10px 0;
    padding: 10px 20px;
   }

 
   #comment-form .message{ background:#FCF8E3; padding: 12px; color:#000; margin:12px ;}
   #comment-form .comment-warning{ color:#B94A48  } 

   	#comment-form .input-group{	clear:both; padding: 6px 0;	}
   #comment-form label{  
		 
		display: block;
		float: left;
		line-height: 27px;
		margin: 0;
		width: 20%;
   }
    #comment-form input, #comment-form textarea{
		 display: block;
		margin: 0;
		width: 77%;
	}

		#comment-form  .recaptcha{padding:12px; }
		#comment-form  .recaptcha input { width: 140px; height:27px; display:inline; margin:5px; 12px; }
		}
   /**
    * Module
	*/
	.pavblogs-comments-box  .pav-comment { padding:10px ;border-bottom:1px dashed  #F4F4F4  }
	.pavblogs-comments-box  .pav-comment:last-child{ border-bottom:none; }
	.pavblogs-comments-box img{ padding-right:12px;float: left; }


/*category*/
ul.pav-category li .head > a {
    background: none repeat scroll 0 0 transparent !important;
    padding: 0 0 0 10px;
    position: relative;
    top:-32px;
    right: 10px;
}
ul.pav-category ul.level2 {
    margin-left: 15px;
}
.children-inner img{
  float: left;
  margin-right: 18px;
}
