/*
 * MarketShop OpenCart Theme Skin CSS
 * By Harnish Design
 * www.harnishdesign.net
 */
 
a, a b, .pagination .links a:hover{color:#000;}
.pagination .links b{border-color:#000;}
.pagination .links b, .owl-carousel.slideshowhome .owl-controls .owl-buttons .owl-prev:hover, .owl-carousel.slideshowhome .owl-controls .owl-buttons .owl-next:hover, .nivo-directionNav .nivo-nextNav:hover, .nivo-directionNav .nivo-prevNav:hover, #back-top a:hover, .nivo-controlNav a.active{background-color:#000;}
a:hover, a b:hover, .category .tabs li a:hover, .sitemap li a:hover, .breadcrumb a:hover, .login-content .right a:hover, .box-category a:hover, .list-item a:hover{color:#888;}

#header .htop{background-color:#f7f7f7;}
#header .links > ul > li > a, #language span a, #currency span a, #header #welcome a, #header .links > ul > li.mobile{color:#000; text-transform:uppercase;}
#language span b, #currency span b, #header .links > ul > li.wrap_custom_block a b{border-color:#959595 transparent transparent;}

#header .links > ul > li, #header #welcome a, #header .links, #language, #currency, #header #welcome{border-color:#ddd;}
#language ul li a, #currency ul li a, #currency ul li a b{color:#000;}
#language ul li a:hover, #currency ul li a:hover{color:#777;}

#header #search input{color:#000; }
#header .button-search{color:#999;}

#header #cart .heading a{color:#000;}
#header #cart.active .heading a{color:#000;}
#header #cart .heading h4:after, #header #cart .heading h4:before, #header #cart .content{border-color:#000;}
#header #cart .heading h4{background:#000;}
#header #cart.active .heading a span:after{border-color:transparent transparent #000;}

#menu{border-top:none; border-bottom-width:2px;}
#menu .nav > li > a, #menu .navbar-header > span{color:#000; text-transform:uppercase; font-size:14px;}
#menu .nav > li > a.home_link span:before{border-color:transparent transparent #000;}
#menu .nav > li > a.home_link span:after{border-color: #000;}
#menu .nav > li > a.home_link span{background:#000;}

#menu .nav > li > a.home_link:hover span:before{border-color:transparent transparent #777;}
#menu .nav > li > a.home_link:hover span:after{border-color: #777;}
#menu .nav > li > a.home_link:hover span{background:#777;}

#menu .nav > li.categories_hor > div, #menu .nav > li.categories > div, #menu .nav > li.categories_hor > div .submenu, #menu .nav > li.categories > div > .column > div, #menu .nav > li > .dropdown-menu, #menu .submenu{border-color: #000; background:#000;}
#menu .nav > li.sub:hover > a:after{border-bottom-color:#000;}
#menu .nav > li.categories_hor > div > .column > a{color:#aaa; border-color:#222;}
#menu .nav > li.categories > div > .column + .column, #menu .nav > li > div > ul li + li, #menu .nav > li.categories > div > .column:hover > div ul li + li, #menu .nav > li.categories_hor > div .submenu ul li + li a{border-color:#222;}

#menu .nav > li:hover > a{background-color:#fff; color:#777;}
#menu .nav > li.categories > div > .column > a, #menu .nav > li div > ul > li > a, #menu .nav > li.menu_brands > div > div a, #menu .custom_block, #menu .custom_block a{color:#999;}
#menu .nav > li.categories > div > .column:hover > a, #menu .nav > li div > ul > li:hover > a, #menu .nav > li.categories_hor > div > .column:hover > a, #menu .nav > li.menu_brands > div > div a:hover, #menu .custom_block a:hover{color:#fff;}

.custom-feature-box .feature-box{background:#f7f7f7;}
.custom-feature-box .feature-box h3{font-size:13px; font-weight:bold; color:#222;}
.custom-feature-box .feature-box p{font-size:13px; color:#333;}

#container h2, #container h3, .product-tab .tabs li a{text-transform:uppercase; font-size:17px;}

.product-thumb h4 a{color:#000;}
.saving{background:#fdde36; color:#000;}
.box-product .price, .product-info .price, .product-grid .price, .product-grid-lr .price, .slider_pprice, .product-list .price{color:#000;}
.box-product .cart input, .box-product .cart a, .product-grid .cart input, .product-list .cart input{background-color:#aaa;}
.box-product > .flexslider ul li .cart input:hover, .box-product > .flexslider ul li .cart a:hover, .product-grid .cart input:hover, .product-list .cart input:hover{background-color:#000;}

.product-grid .wishlist a:hover, .product-grid .compare a:hover, .product-list .wishlist a:hover, .product-list .compare a:hover, .box-product .product-item .wishlist a:hover, .box-product .product-item .compare a:hover{color:#777;}

a.button, input.button{background-color:#000;}
a.button:hover, input.button:hover{background-color:#999;}

#footer .fpart-first, #footer .fpart-first a{color:#222;}
#footer .fpart-first a:hover{color:#888;}
#footer h3{color:#000; text-transform:uppercase; font-size:14px;}
#footer #powered{border-bottom-color:#d1d1d1;}

#footer .fpart-second{background-color:#e9e9e9; color:#000;}
#footer .fpart-second a{color:#777;}
#footer .fpart-second a:hover{color:#000;}

/*media responsive*/
.drop-icon{color:#000;}
.left-top{background-color:#f7f7f7;}