/*Header*/
#header #cart .heading{text-align:left;}
#header #cart .content{right:auto; left:0;}
#header #cart .heading h4{float:right; margin-left: 5px;}
#header #cart .checkout, .mini-cart-total{text-align:left;}
#header .button-search{left:0; right:auto;}
#header.style2 #cart .heading{text-align:right;}
#header.style2 #cart .content{right:0; left:auto;}
#header.style3 #cart .heading{text-align:left;}

#header .links{float:right;}
#header #welcome{float:left;}
#header #welcome a{border-right:none; border-left:1px dotted #5B9AD4;}
.wrapper-box #header #welcome{border-right:1px dotted #7B97B2;}

#language, #currency{float:right; border-left:1px dotted #5B9AD4; border-right:none;}
#language ul, #currency ul{right:0; left:auto;}
#language img{margin-right:0px; margin-left:5px;}


#menu .nav > li.categories > div > .column > div{left:auto; right:100%;}

#menu .nav > li.categories_hor > div > .column a span, #menu .nav > li.categories > div > .column a span, #menu .nav > li > div > ul li a span, #menu .nav > li.custom-link-right{float:left}
#menu > ul > li.categories_hor > div .submenu, .submenu{right:100%;}

.success, .warning, .attention, .information{padding:10px 33px 10px 10px;}
.success .close, .warning .close, .attention .close, .information .close{float:left;}
.success, .warning, .attention, .information{background-position:right center;}

#container{text-align:right;}

.box-category .down{right:auto; left:0;}
.box-category > ul > li ul{padding-left:0px; padding-right: 10px;}
.box-category > ul > li ul li a{margin-left: 16px; margin-right:0;}
.box-category ul li a, .list-item li a{padding:5px 12px 5px 0; background:url("../image/bullet-dark-rtl.png") no-repeat right 11px;}
.box-category > ul > li ul li a:hover, .list-item a:hover{margin-left: 16px; margin-right:0;}

#column-left .box-product .image, #column-right .box-product .image{float:right; margin-right:0px; margin-left: 10px; }
#column-left .box-product .name, #column-right .box-product .name, #column-left .box-product .rating, #column-right .box-product .rating{text-align:right;}
#column-left .box-product .price, #column-right .box-product .price{text-align:right; padding:0 0 0 10px;}

.product-filter .display{float:right; margin-left:15px; margin-right:0px;}
.product-list .image{float:right; margin-left: 20px; margin-right:0px;}
.product-list .cart{float:right;}
.product-list .wishlist, .product-list .compare{float:right;}
.product-filter .sort{float:left;}
.product-filter .limit{float:left; margin-right:15px; margin-left:0px;}
.product-filter .display b{float:right;}

.product-info .cart div .qty{float: right; margin-left:20px; margin-right:0;}
.qty strong{margin-left: 10px; margin-right:0px; float:right;}
.product-info .cart div{float:right;}
.htabs a{float: right;}
#tab-description ul{margin-left:auto; margin-right:15px;}
.product-info .image-additional a{float:right; margin-right:7px; margin-left:0px;}
.category-list ul{float:right; margin-left: 12px; margin-right:0px;}
.product-tab .tabs li{float:right; margin-right:0px;}
.pagination .links{float:right;}
.pagination .results{float:left;}

.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity, .cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity, .checkout-product thead .name, .checkout-product thead .model, .checkout-product tbody .name, .checkout-product tbody .model, .wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock, .wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock{text-align:right;}
.compare-info{width:99%;}
.manufacturer-list ul{float:right;}

/*Footer*/
#footer .contact{float:right;}
#footer .column{float:left;}
#footer .contact ul li{padding:0 32px 0 0;}
#footer .contact ul li.address{background-position:right 3px;}
#footer .contact ul li.mobile{background-position:right 2px;}
#footer .contact ul li.email{background-position:right 4px;}
#footer .powered_text{float:right;}
#footer .social{float:left;}
#footer .social a{float:right;}

.category .tabs{left:70px; right:auto;}
.category .tabs li{float:right;}
.flex-viewport{direction:ltr;}
.flex-direction-nav .flex-next {left:0px; right:auto; background-position:-1px -32px;}
.flex-direction-nav .flex-prev {left:32px; right:auto; background-position:0 0;}

.jcarousel-skin-opencart .jcarousel-next-horizontal{background-position:2px -29px;}
.jcarousel-skin-opencart .jcarousel-prev-horizontal{background-position:3px 3px;}
 
.owl-carousel .owl-wrapper-outer{direction:ltr}
.owl-theme .owl-controls .owl-buttons div.owl-prev{right:auto; left:0px;}
.owl-theme .owl-controls .owl-buttons div.owl-next{right:auto; left:32px;}
 
#blogCatArticles .imageFeatured{float:right; margin:0px 0px 10px 10px;}
.articleContent .readMore, .articleContent .readMore span{float:left;}
.blogArchives li a, .blogCategories li a{background:url("../image/bullet-dark-rtl.png") right 11px no-repeat; padding:5px 12px 5px 0;}
.blogModule .image img, .blogModule .recentComments .avatar img{float:right; margin-right:auto; margin-left:10px;}
.blogArchives > ul > li > ul{margin-left:auto; margin-right:10px;}
.livemarks a{float:left;}
.articleBottom ul, #blogCategory ul{float:right;}
.articleBottom ul, #blogCategory ul + ul{margin:0 20px 0 0;}
.articleBottom li, #blogCategory li{background:url("../image/bullet-dark-rtl.png")right 8px no-repeat; padding:3px 15px 3px 0;}
.commentList li{padding:8px 90px 8px 8px;}
.commentList li .avatar{right:10px;}
.commentList li .reply, #commentRespond .right{text-align:left;}