
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.pav-header  { position:relative  }
.pav-header .rss-wrapper{
	width:30px;	height:30px;	display:block; position:absolute;right:0; top:0; background:url(../image/icon-rss.png) no-repeat center center;
	overflow:hidden; text-indent:-999em;
}

.blog-meta {
		margin-bottom: 10px;
		overflow: hidden;
		background: #eee;
		border-bottom: 1px solid #ddd;
		clear: both;
		padding: 10px;
	}
	.blog-meta > span  { 
		display: block;
		float: left;
		font-size: 12px;
		margin-right: 10px;
	 }
	 .author, .publishin, .hits, .comment_count, .created {
	 	padding-left: 14px !important;
	 }
	 .created {
	 	background: url(../image/date.png) left no-repeat;
	 }
	 .author {
	 	background: url(../image/by.png) left no-repeat;
	 }
	 .publishin {
	 	background: url(../image/category.png) left no-repeat;
	 }
	 .hits {
	 	background: url(../image/hit.png) left no-repeat;
	 }
	 .comment_count {
	 	background: url(../image/comment.png) left no-repeat;
	 }
	.blog-meta > span:last-child{ border-right:none; font-size:90% }
	.blog-meta > span  span{ font-weight:normal }
	.blog-meta > span:last-child {
		margin-right: 0
	}
	.comment-author {
		font-size: 12px;
		font-weight: bold;
		color: #000;
		font-style: italic;
	}
.blog-header .created {
	display:block;
	overflow:hidden;
	height:40px;padding:12px;
	background:#333;
	color:#FFF;
	float:left;
	font-size:11px; 
	margin-right:12px; 	
}

.blog-header  span.day{ font-size:30px; font-weight:bold; padding:4px 0;display:block; text-align:center }
.blog-header  span{ font-size:98%  }
.blog-item .description{ overflow:hidden; padding: 8px 0; float: left; color: #888;}
.blog-item .description p {
	margin-bottom: 10px;
}
.blog-item a.readmore{padding: 5px 10px 5px 25px; background:#000 url(../image/right-arrow.png) no-repeat 5px; color: #fff; text-decoration: none;float:left; }
.blog-item a.readmore:hover {
	background:#333 url(../image/right-arrow.png) no-repeat 5px;
}
/**
 * Category Page
 */
 div[class*="pavcol"]{
	float:left;
 }
 .pavcol1{ width:100% }
 .pavcol2 { width:50%; }
 .pavcol3 { width:33.33%; }
 .pavcol4 { width:25%; }
 .pavcol5 { width:20%; }
 .blog-item {
 	margin: 0 20px 60px 0;
 	overflow: hidden;
 }
 .blog-item img{margin-bottom: 0; }
 .pavcol1 img { padding-right:0 }
 
 .pav-blogs a {
	text-decoration:none
 }
 .children-inner h4 a {
 	color: #000;
 	font-size: 16px;
 	text-decoration: none;
 }
 .children-inner h4 a:hover {
 	text-decoration: underline;
 }
 .children-inner img {
 	margin-bottom: 20px;
 }
 /**
  * Blog Page
  */
  .pav-blog .description{ font-weight:bold; }
	
  .pav-blog .blog-content, .pav-blog .blog-bottom { margin-bottom:20px }
   .comment-item {
	 
		padding-bottom:10px;
   }
  .comment-item  img{
	padding-right:12px;
  }
  .comment-wrap{
	overflow:hidden;
	  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 20px;
    position: relative;
    transition: all 0.3s ease-out 0s;	
  }
  .comment-wrap .comment-meta{
	 border-bottom: 1px solid #E5E5E5;
    font-size: 11px;
    margin: -20px -20px 10px;
    padding: 10px 20px;
  }
  .comment-wrap .comment-meta > span { font-weight:bold; }
   .comment-wrap .comment-meta > span  span{ font-weight:normal; }
   .blog-social  .social-wrap > div { float:left; }
   .blog-social .social-heading{ padding-right:12px; }
   
   .comment-link{
	background: none repeat scroll 0 0 #F4F4F4;
    border-left: 1px solid #E5E5E5;
    display: block;
    float: right;
    font-weight: bold;
    margin: -11px -20px -10px 0;
    padding: 10px 20px;
   }
	
 
   #comment-form .message{ background:#FCF8E3; padding: 12px; color:#000; margin:12px 0;}
   #comment-form .comment-warning{ color:#B94A48  } 

   	#comment-form .input-group{	clear:both; padding: 6px 0;	}
   #comment-form label{  
		 
		display: block;
		float: left;
		line-height: 27px;
		margin: 0;
		width: 20%;
   }
    #comment-form input, #comment-form textarea{
		 display: block;
		margin: 0;
		width: 77%;
	}

		#comment-form  .recaptcha{padding:12px; }
		#comment-form  .recaptcha input { width: 140px; height:27px; display:inline; margin:0 12px; }
   /**
    * Module
	*/
	.pavblogs-comments-box  .pav-comment { padding:10px 0 ;border-bottom:1px solid #F4F4F4  }
	.pavblogs-comments-box  .pav-comment:last-child{ border-bottom:none; }
	.pavblogs-comments-box img{ padding-right:12px; }



/*
 * 
 * 
 *   custom
 */

.latestBlogs {
	margin-bottom: 0 !important
}
.latestBlogHeading {
	background: #333 !important;
	color: #fff !important;
	border: 1px solid #000 !important;
}
.latestBlogs h4.blog-title a{
	font-size: 18px;
}
h4.blog-title {
	margin-bottom: 15px;
}
h4.blog-title a {
	font-size: 22px;
	color: #d14d3b;
	text-decoration: none;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
h4.blog-title a:hover {
	color: #333;
}


.blog-item-latest {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	margin-bottom: 30px;
	overflow: hidden;
}
.blog-item-latest h4 a {
	color: #d14d3b;
}
.blog-item-latest img {
	float: left;
	margin: 1px 30px 0 1px;
}
.blog-body-latest {
	/*float: left;
	width: 45%;*/
	padding-right: 2%;
	margin-bottom: 10px;
}
.cartBtn:hover {
	color: #fff;
}

.pvCategory .pav-category {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #eee;
}
.pvCategory .pav-category > li {
	padding: 0;
	position: relative;
	border-bottom: 1px solid #ffffff;
}
.pvCategory .pav-category > li a {
	position: relative;
	display: block;
	width: 85%;
	padding: 8px 0 8px 40px;
	font-size: 15px;
	color: #000;
	text-decoration: none;
}
.pvCategory span.head a {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 36px;
	background: #c7c7c7;
	font-size: 16px;
	color: #fff;
	line-height: 36px;
	text-align: center;
	padding: 0;
}
.pvCategory .pav-category > li ul {
	margin: 10px 0;
	list-style: none;
}
.pvCategory .pav-category > li ul li > a {
	text-decoration: none;
	display: block;
	color: #888;
	padding: 2px 0 2px 40px;
	font-size: 12px;
}
.pvCategory .pav-category > li ul li > a:hover {
	color: #000;
}
.blog-tags {
	margin-bottom: 20px;
}
.blog-tags a {
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	background: #333;
	color: #fff;
	text-decoration: none;
}
.blog-tags a:hover {
	background: #888;
	color:#fff;
}
.social-wrap {
	background: #fff;
	border: 1px solid #ddd;
	float: left;
	width: 98%;
	padding: 1% 1% .4% 1%;
	margin-bottom: 15px;
}
.pav-comment {
	background: #eee;
	border: 1px solid #ddd;
	padding: 20px;
	overflow: hidden;
	margin-bottom: 30px;
}
#column-left .pav-comment, #column-right .pav-comment {
	background:transparent;
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 10px 0;
	margin-bottom: 0; 
}
.pav-comment .recaptcha {
	padding-left: 0 !important;
}
