.pavtestimonial {
	position:relative;
	margin:0;
}
.pavtestimonial .carousel-inner{
	position:relative;
}

.pavtestimonial .banner-info{
	position:absolute;
	bottom:25%;
	left:10%;
	z-index:4;
	background:#ccc;
	width:300px;
	padding:12px;
	min-height:40px;
	opacity:0.7;
  filter: alpha(opacity=70);
}

.pavtestimonial .carousel-indicators{
	position:absolute;
	bottom:10px;
	left:20px;

}
.pavtestimonial .carousel-indicators li{ display:block;float:left;	z-index:20;
	padding:10px; 
	margin:3px; background:red; }
.pavtestimonial .carousel-indicators li.active{ background:#000 }	

.pavtestimonial  .thumb-indicators li {text-indent:0; 
	display: block;
    float: left;
    height: 97px;
    margin: 3px;
    padding: 3px;
    width: 23%;
    z-index: 20;
}

.pavtestimonial .carousel-inner .item{
 
    margin-bottom: 25px;
}

.pavtestimonial   .testimonial{
        border-radius: 5px;
        background: #fff;
        padding: 20px 30px 20px 60px;
}
.testimonial-wrapper{
    margin-bottom: 20px;
}
.testimonial-item {
    position: relative;
}
.testimonial:before{
    border-left: 17px solid rgba(0, 0, 0, 0);
    border-right: 0px solid rgba(0, 0, 0, 0);
    border-top: 23px solid #fff;
    bottom: -23px;
    content: "";
    display: inline-block;
    position: absolute;
    left:100px;
}
.testimonial  p{
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
}

.t-avatar{
    margin-left: 120px;
    margin-top: 15px;
}
.t-avatar img{
    border-radius: 500px;
}
.pavtestimonial .profile{
    margin-left: 10px;
    margin-top: 20px;
}
