/*
 * MarketShop OpenCart Theme Skin CSS
 * By Harnish Design
 * www.harnishdesign.net
 */
 
a, a b, .articleHeader span a, .pagination > li > a{color:#c68d1e;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{background-color:#c68d1e; border-color:#c68d1e;}
.owl-carousel.slideshowhome .owl-controls .owl-buttons .owl-prev:hover, .owl-carousel.slideshowhome .owl-controls .owl-buttons .owl-next:hover, .nivo-directionNav .nivo-nextNav:hover, .nivo-directionNav .nivo-prevNav:hover{background-color:#c68d1e;}

a:hover, a b:hover, .category .tabs li a:hover, .sitemap li a:hover, .pagination > li > a:hover, .breadcrumb a:hover, .login-content .right a:hover, .box-category a:hover, .list-item a:hover, #blogArticle .articleHeader h1 a:hover, #blogCatArticles .articleHeader h3 a:hover, .tags-update .tags a:hover, .articleHeader span a:hover{color:#000;}


#header .header-row{background-color:#131313; padding:20px 0;}
#header .htop{background-color:#131313;}
#header .links > ul > li > a, #header .links > ul > li .wrap_custom_block > a, #header .links > ul > li.mobile, #header .links > ul > li.email, #language span, #currency span, #header #top-links > ul > li > a{color:#959595; text-transform:uppercase;}
#header .links > ul > li.wrap_custom_block > a b{border-color:#959595 transparent transparent;}

#header .links, #header .links > ul > li, #language, #currency, #header #top-links > ul > li, #header #top-links{border-color:#131313;}
#top .dropdown-menu li a, #currency ul li .currency-select{color:#000;}
#top .dropdown-menu li a:hover, #currency ul li .currency-select:hover{color:#c68d1e;}


#header #search input{background:#131313; color:#fff; border-color:#333;}
#header .button-search{color:#999;}

#header #cart .heading{color:#aaa;}
#header #cart.open .heading{color:#fff;}
#header #cart.open .heading span:after{border-color:transparent transparent #ccc;}
#header #cart .heading h4:before, #header #cart .heading h4:after, #header #cart .dropdown-menu{border-color:#ccc;}
#header #cart .heading h4{background:#ccc;}



#menu{background-color:#222; border:none;}
#menu .nav > li > a, #menu .navbar-header > span{color:#ddd; text-transform:uppercase; font-size:14px;}
#menu .nav > li > a.home_link span:before{border-color:transparent transparent #ddd;}
#menu .nav > li > a.home_link span:after{border-color: #ddd;}
#menu .nav > li > a.home_link span{background:#ddd;}

#menu .nav > li.categories_hor > div, #menu .nav > li.categories > div, #menu .nav > li.categories_hor > div .submenu, #menu .nav > li.categories > div > .column > div, #menu .nav > li > .dropdown-menu, #menu .submenu{border-color: #c68d1e;}
#menu .nav > li.sub:hover > a:after{border-bottom-color:#c68d1e;}

#menu .nav > li:hover > a{background-color:#c68d1e; color:#fff;}
#menu .nav > li.categories > div > .column > a, #menu .nav > li div > ul > li > a, #menu .nav > li.menu_brands > div > div a, #menu .custom_block, #menu .custom_block a{color:#222;}
#menu .nav > li.categories > div > .column:hover > a, #menu .nav > li div > ul > li:hover > a, #menu .nav > li.categories_hor > div > .column:hover > a, #menu .nav > li.menu_brands > div > div a:hover, #menu .custom_block a:hover{color:#c68d1e;}


.custom-feature-box .feature-box{background:#aaa;}
.custom-feature-box .feature-box .title{font-size:15px; color:#fff;}
.custom-feature-box .feature-box p{font-size:13px; color:#fff;}

#container h2, #container h3, .product-tab .tabs li a{text-transform:uppercase; font-size:17px;}

.saving{background:#c68d1e; color:#fff;}
.product-thumb .price, .product-info .price{color:#c68d1e;}
.product-thumb .button-group > button{background-color:#aaa;}
.product-thumb .button-group > button:hover{background-color:#c68d1e;}
.product-thumb .button-group .add-to-links button{color:#777;}
.product-thumb .button-group .add-to-links button:hover{color:#000;}

.btn-primary{background-color:#c68d1e;}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{background-color:#000;}

#footer .fpart-first{background-color:#121214;}
#footer .fpart-first, #footer .fpart-first a{color:#777;}
#footer .fpart-first a:hover{color:#c68d1e;}
#footer h5{color:#fff; text-transform:uppercase; font-size:15px;}
#footer #powered{border-bottom-color:#222;}

#footer .fpart-second{background-color:#0c0c0c;}
#footer .fpart-second a{color:#999;}
#footer .fpart-second a:hover{color:#c68d1e;}

/*media responsive*/
.drop-icon{color:#959595;}
.left-top{background-color:#131313;}
#menu .navbar-header > span > b:before{border-color: transparent transparent #fff;}
#menu .navbar-header > span > b:after{border-color:#fff transparent transparent;}
#menu .nav > li > span.submore:after{color:#fff;}